
// Import bunch of colors


@import 'colors/colors';


// General Color Variables 

$primary_color 					: #010101;
$secondary_color				: #FF7D0E;
$third_color					: green;
$general_text_color				: #777777;
$special_purpose_color			: blue;
$border_color					: #eee;
$mask_background				: rgba(50,50,50,0.2);


//  Footer section possible variables 

$footer_bg						: #111111;
$footer_bottom_bg				: #010101;
$footer_section_text_color		: #b7b7b7;
$footer_section_links_color		: #b7b7b7;
$footer_heading_color			: #e4e4e4;
$footer_lines_color				: #2b2b2b;


//  Category Colors 

$cat1:#000;
$cat2:#000;
$cat3:#000;
$cat4:#000;
$cat5:#000;
$cat6:#000;
$cat7:#000;